:root{
  --prim:#001B2E;
  --sec:#EBEBEB;
}
/* css reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* changing color of background */
body{
  background-color: var(--sec);
}
/*nav and header styling  */
nav {
  background-color: #001B2E;
  display: flex;
  justify-content:flex-end;
  
}

ul{
  list-style-type: none;
  margin: 0;
  padding:0;
  
}

li{
  float: right;
  
}
.navbar {
  padding: 12px;
  background-color: var(--prim);
  color: aliceblue;
  
}

.name {
  display: flex; 
  background-color: var(--prim);
  color: aliceblue;
  width: 100%;
  
  
}
/* hero styling */

.hero-banner{
  background-image: url(./francesco-ungaro-JA-SFjT1FS0-unsplash.jpg);
  background-size: cover;
  height: 500px;
}

#quote{
  position: absolute; left: 80px; top: 100px;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
/* about me section styling */
#about {
  display: flex;
  justify-content: center;
  align-items:stretch ;
  padding-top: 30px;
  margin: 40px;
  padding-right: 40px;
  
  
}
#aboutme{
  padding: 10PX;
  
}
#aboutmetext {
  margin-left: 30px;
  border-left: var(--prim) solid 10px;
  padding:10px;
}
/* work section styling */
#work {
  display: flex;
  justify-content: space-between;
  align-items:stretch ;
  padding-top: 30px;
  margin: 40px;
  padding-right: 40px;

}

#workheading {
  margin-right: 50px;
}
/* grid styling */
.grid {
  width: 70%;
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 300px 300px;
  grid-template-areas:
  "p1 p1" 
  "p1 p1"
  "p2 p3"
  ;
  
  
}
#project1{
  grid-area: p1;
  background-image: url(./daniel-korpai-iopITwyUcTA-unsplash.jpg);
  background-size: cover;
  
}
#project1 div{
  background-color: var(--prim);
  color: var(--sec);
  padding: 10px;
}
#project2{
  grid-area: p2;
  background-image: url(./austris-augusts-IlsN218WQEg-unsplash.jpg);
  background-size: cover;
}
#project2 div{
  background-color: var(--prim);
  color: var(--sec);
  padding: 10px;
}
#project3{
  grid-area: p3;
  background-image: url(./christina-wocintechchat-com-wLiP-R6Vd2g-unsplash.jpg);
  background-size: cover;
}
#project3 div{
  background-color: var(--prim);
  color: var(--sec);
  padding: 10px;
}
/* contact section styling */
#contact{
  display: flex;
  justify-content: space-between;
  background-color: var(--prim);
  color: var(--sec);
  padding: 10px;
}
/* media query to change size for smaller screens */
@media screen and (max-width:800px){
  .grid{
    width: 70%;
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px;
  grid-template-areas:
  "p1 p1" 
  "p1 p1"
  "p2 p3"
  ;
  }
}